{% extends "base.html" %}

{% block conteudo %}


    

    <div class="textos">
    <h2>Entre em Contato</h2>

    <br>

    Lorem ipsum dolor sit amet consectetur adipiscing elit a lobortis, hendrerit sed neque mauris per class magna morbi.

    <hr>

    <form action="">
        Seu e-mail: <br>
        <input type="text" name="e-mail"/><br>
        Assunto: <br>
        <input type="text" name="Assunto"/><br>
       Descrição: <br>
        <input type="text" name="Descrição" id=""><br>
        <input type="button" value="Enviar">
    </form>
    </div>

    <br>


    
    {% endblock %}