{% extends "base.html" %}

{% block conteudo %}

    <style>
        
        body {background-image:url(/static/fundo.png);}
        
    </style>


  
    

    <br>

            <!-- Capa -->
        <div class="capa">
        <img src="/static/capa.png" alt="capa">
        </div>

            <!-- Sobre a Uni -->
        <div class="textos">
    <h2><b>Sobre a Universidade</b></h2>
    <br>
    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit a lobortis, hendrerit sed neque mauris per class magna morbi, cursus massa eros molestie faucibus purus nam fermentum. Vitae non nisi rhoncus suspendisse urna conubia fringilla dapibus, luctus torquent felis feugiat ad enim aenean maximus lacus, dui integer dictumst sit aliquet augue massa. Nunc feugiat est ipsum faucibus imperdiet commodo gravida, pulvinar convallis efficitur id aliquam enim donec, natoque dolor interdum scelerisque quisque adipiscing. Eleifend donec ridiculus euismod phasellus ullamcorper mattis volutpat, pulvinar nibh nec dui aenean leo lacinia felis, bibendum hac porta nunc quisque integer. Est gravida primis maecenas aliquam dictumst dis nec senectus, morbi inceptos congue hac mi dignissim.</p>

    <br>
            

       
        {% endblock %}