{% extends "base.html" %}

{% block conteudo %}
     
            <!-- Informações -->
            <div class="textos">
    <h2><b>Quem somos</b></h2>

    <br>

    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit a lobortis, hendrerit sed neque mauris per class magna morbi, cursus massa eros molestie faucibus purus nam fermentum. Vitae non nisi rhoncus suspendisse urna conubia fringilla dapibus, luctus torquent felis feugiat ad enim aenean maximus lacus, dui integer dictumst sit aliquet augue massa.</p>
    
    <br>

    <h2><b>5 motivos para estudar</b></h2>

    <br>

    <ol>
        <li>Material Sempre atualizado</li>
        <li>Tablets em sala de aula</li>
        <li>Professores renomados</li>
        <li>Universidade bem avaliada</li>
        <li>Ótima localização</li>
    </ol>

    <hr>

    <h2>Objetivos</h2>

    <br>

    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit a lobortis, hendrerit sed neque mauris per class magna morbi, cursus massa eros molestie faucibus purus nam fermentum. Vitae non nisi rhoncus suspendisse urna conubia fringilla dapibus, luctus torquent felis feugiat ad enim aenean maximus lacus, dui integer dictumst sit aliquet augue massa.</p>
    </div>

    <br>
    
    

    {% endblock %}